In [1]:
import pandas as pd
import numpy as np
import pathlib
import datetime
from datetime import datetime, timedelta, date
from rich import print
from collections import namedtuple
from dataclasses import dataclass, asdict
import operator
import tomllib
from csvb.ingest import apply_rule, sel_factory, ApplyOp, SelectOp, AOP, SOP, Rule, to_transactions, strip_currency
#from decimal import Decimal, getcontext

#getcontext().prec = 2

/var/folders/42/qqsltqsj6fl30wl4xm41gs4m0000gn/T/ipykernel_56936/1314916660.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
cfgpth = pathlib.Path.home() / ".config" / "csvb" / "config.toml"
with open(cfgpth, 'rb') as f:
    config = tomllib.load(f)

In [3]:
config

{'title': 'csvb config',
 'paths': {'path': '~/als/csvbdata/',
  'bank': '~/als/csvbdata/bank',
  'products': '~/als/csvbdata/products/'}}

In [4]:
try:
    del apl
except NameError:
    pass

apl = pd.read_csv(pathlib.Path(config["paths"]["bank"]) / "Jan-2024_Apple_CC.csv",
                    header=0, parse_dates=["Transaction Date", "Clearing Date"])

apl = apl.rename(columns={"Amount (USD)": "Amount"})
apl["Amount"] = -1 * apl["Amount"]
apl["From"] = ""

In [5]:
df = apl


rdicts = [dict(select=dict(op="contains", column="Merchant", b="Banana Republic"),        apply=dict(op="assign", column="From", b="Expenses:Clothing")),
          dict(select=dict(op="contains", column="Merchant", b="Apple Services"),         apply=dict(op="assign", column="From", b="Expenses:Subscription")),
          dict(select=dict(op="contains", column="Merchant", b="Phillips 66"),            apply=dict(op="assign", column="From", b="Expenses:Auto:Gas")),
          dict(select=dict(op="contains", column="Merchant", b="Ridge Wallet"),           apply=dict(op="assign", column="From", b="Expenses:Gear")),
          dict(select=dict(op="contains", column="Merchant", b="Martin's Supermarket"),   apply=dict(op="assign", column="From", b="Expenses:Groceries")),
          dict(select=dict(op="contains", column="Merchant", b="Apple Cash Payment"),     apply=dict(op="assign", column="From", b="Income:Apple Cash")),
          dict(select=dict(op="contains", column="Merchant", b="Hulu"),                   apply=dict(op="assign", column="From", b="Expenses:Entertainment")),
          dict(select=dict(op="contains", column="Merchant", b="Trade Coffee CO"),        apply=dict(op="assign", column="From", b="Expenses:Groceries")),
          dict(select=dict(op="contains", column="Merchant", b="Beacon Med"),             apply=dict(op="assign", column="From", b="Expenses:Medical:Body")),
          dict(select=dict(op="contains", column="Merchant", b="South Bend Clinic"),      apply=dict(op="assign", column="From", b="Expenses:Medical:Body")),
          dict(select=dict(op="contains", column="Merchant", b="WMMH"),                   apply=dict(op="assign", column="From", b="Expenses:Entertainment:Self")),
          dict(select=dict(op="contains", column="Merchant", b="Account Ending In 8785"), apply=dict(op="assign", column="From", b="Assets:1st Source:Checking")),
          dict(select=dict(op="contains", column="Merchant", b="bookshop.org"),           apply=dict(op="assign", column="From", b="Expenses:Study")),
          dict(select=dict(op="contains", column="Merchant", b="Patreon"),                apply=dict(op="assign", column="From", b="Expenses:Entertainment")),
          dict(select=dict(op="contains", column="Merchant", b="Monthly Installments"),   apply=dict(op="assign", column="From", b="Liabilities:Apple Installments")),
          dict(select=dict(op="contains", column="Category", b="Tolls"),                  apply=dict(op="assign", column="From", b="Expenses:Auto:Tolls")),
          dict(select=dict(op="contains", column="Merchant", b="Kobo"),                   apply=dict(op="assign", column="From", b="Expenses:Entertainment:Reading")),
          dict(select=dict(op="contains", column="Merchant", b="Vtsup.com"),              apply=dict(op="assign", column="From", b="Expenses:Entertainment:Self")),
          dict(select=dict(op="contains", column="Merchant", b="City Of South Bend"),     apply=dict(op="assign", column="From", b="Expenses:Utilities")),
          dict(select=dict(op="contains", column="Merchant", b="Andrasi"),                apply=dict(op="assign", column="From", b="Expenses:Home:Cleaning")),
          dict(select=dict(op="contains", column="Merchant", b="Parlevel Texas"),         apply=dict(op="assign", column="From", b="Expenses:Restaurants")),
          dict(select=dict(op="contains", column="Merchant", b="Gannett Newsprpr"),       apply=dict(op="assign", column="From", b="Expenses:Utilities")),
          dict(select=dict(op="contains", column="Description", b="ABEBOOKS"),            apply=dict(op="assign", column="From", b="Expenses:Study"))]



#rdicts = [(dict(op="contains", column="Merchant", b="Banana Republic"),        dict(op="assign", column="To", b="Expenses:Clothing")),
#          (dict(op="contains", column="Merchant", b="Apple Services"),         dict(op="assign", column="To", b="Expenses:Subscription")),
#          (dict(op="contains", column="Merchant", b="Phillips 66"),            dict(op="assign", column="To", b="Expenses:Auto:Gas")),
#          (dict(op="contains", column="Merchant", b="Ridge Wallet"),           dict(op="assign", column="To", b="Expenses:Gear")),
#          (dict(op="contains", column="Merchant", b="Martin's Supermarket"),   dict(op="assign", column="To", b="Expenses:Groceries")),
#          (dict(op="contains", column="Merchant", b="Apple Cash Payment"),     dict(op="assign", column="To", b="Income:Apple Cash")),
#          (dict(op="contains", column="Merchant", b="Hulu"),                   dict(op="assign", column="To", b="Expenses:Entertainment")),
#          (dict(op="contains", column="Merchant", b="Trade Coffee CO"),        dict(op="assign", column="To", b="Expenses:Groceries")),
#          (dict(op="contains", column="Merchant", b="Beacon Med"),             dict(op="assign", column="To", b="Expenses:Medical:Body")),
#          (dict(op="contains", column="Merchant", b="South Bend Clinic"),      dict(op="assign", column="To", b="Expenses:Medical:Body")),
#          (dict(op="contains", column="Merchant", b="WMMH"),                   dict(op="assign", column="To", b="Expenses:Entertainment:Self")),
#          (dict(op="contains", column="Merchant", b="Account Ending In 8785"), dict(op="assign", column="To", b="Assets:1st Source:Checking")),
#          (dict(op="contains", column="Merchant", b="bookshop.org"),           dict(op="assign", column="To", b="Expenses:Study")),
#          (dict(op="contains", column="Merchant", b="Patreon"),                dict(op="assign", column="To", b="Expenses:Entertainment")),
#          (dict(op="contains", column="Merchant", b="Monthly Installments"),   dict(op="assign", column="To", b="Liabilities:Apple Installments")),
#          (dict(op="contains", column="Category", b="Tolls"),                  dict(op="assign", column="To", b="Expenses:Auto:Tolls")),
#          (dict(op="contains", column="Merchant", b="Kobo"),                   dict(op="assign", column="To", b="Expenses:Entertainment:Reading")),
#          (dict(op="contains", column="Merchant", b="Vtsup.com"),              dict(op="assign", column="To", b="Expenses:Entertainment:Self")),
#          (dict(op="contains", column="Merchant", b="City Of South Bend"),     dict(op="assign", column="To", b="Expenses:Utilities")),
#          (dict(op="contains", column="Merchant", b="Andrasi"),                dict(op="assign", column="To", b="Expenses:Home:Cleaning")),
#          (dict(op="contains", column="Merchant", b="Parlevel Texas"),         dict(op="assign", column="To", b="Expenses:Restaurants")),
#          (dict(op="contains", column="Merchant", b="Gannett Newsprpr"),       dict(op="assign", column="To", b="Expenses:Utilities")),
#          (dict(op="contains", column="Description", b="ABEBOOKS"),            dict(op="assign", column="To", b="Expenses:Study"))]

#r = Rule(select=[dict(op="contains", column="Merchant", b="Banana Republic")], apply=[dict(op="assign", column="To", b="Expenses:Clothing")])

rules = []
for d in rdicts:
    rules.append(Rule(**d))


for r in rules:
    apply_rule(r, apl)

In [6]:
try:
    del fst
except NameError:
    pass

fst = pd.read_csv(pathlib.Path(config["paths"]["bank"]) / "Jan-2024_1st.csv",
                    header=3, parse_dates=["Date"])

fst["Amount"] = np.nansum([fst["Amount Credit"],fst["Amount Debit"]], axis=0)
fst["From"] = ""
fst

,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Balance,Check Number,Fees,Amount,From
0,7,2024-01-31,crossfit south b crossfit s,NaN,-80.00,NaN,6553.36,NaN,NaN,-80.00,
1,8,2024-01-31,ND PAYROLL PAYROLL,NaN,NaN,5335.70,6633.36,NaN,NaN,5335.70,
2,9,2024-01-30,INTEREST PAYMENT,NaN,NaN,0.09,1297.66,NaN,NaN,0.09,
3,10,2024-01-25,crossfit south b crossfit s,NaN,-225.00,NaN,1297.57,NaN,NaN,-225.00,
4,11,2024-01-18,NIPSCO ACCOUNTS BILLPAY,NaN,-85.60,NaN,1522.57,NaN,NaN,-85.60,
5,12,2024-01-17,AEP INDIANA MICH BILL PAY,NaN,-84.27,NaN,1608.17,NaN,NaN,-84.27,
6,13,2024-01-16,crossfit south b crossfit s,NaN,-3.00,NaN,1692.44,NaN,NaN,-3.00,
7,14,2024-01-16,KEITH W DAVIS P2P,NaN,NaN,1000.00,1695.44,NaN,NaN,1000.00,
8,7,2024-01-09,ALLY BANK $TRANSFER,NaN,-600.00,NaN,695.44,NaN,NaN,-600.00,
9,8,2024-01-09,VERIZON WIRELESS PAYMENTS,NaN,-110.57,NaN,1295.44,NaN,NaN,-110.57,
10,9,2024-01-04,crossfit south b crossfit s,NaN,-3.00,NaN,1406.01,NaN,NaN,-3.00,
11,10,2024-01-03,VENMO PAYMENT,NaN,-125.00,NaN,1409.01,NaN,NaN,-125.00,
12,11,2024-01-02,crossfit south b crossfit s,NaN,-40.00,NaN,1534.01,NaN,NaN,-40.00,
13,12,2024-01-02,DOVENMUEHLE MTG MORTG PYMT,NaN,-746.58,NaN,1574.01,NaN,NaN,-746.58,

In [22]:
fstrdicts = [dict(select=[dict(op="contains", column="Description", b="crossfit south"),
                          dict(op=operator.ne,column="Amount", b=-225.00)], apply=dict(op="assign", column="From", b="Expenses:Groceries")),
             dict(select=[dict(op="contains", column="Description", b="crossfit south"),
                          dict(op=operator.eq,column="Amount", b=-225.00)], apply=dict(op="assign", column="From", b="Expenses:Groceries")),
             dict(select=dict(op="contains", column="Description", b="ND PAYROLL"), apply=dict(op="assign", column="From", b="Income:Notre Dame:Regular")),
             dict(select=dict(op="contains", column="Description", b="INTEREST PAYMENT"), apply=dict(op="assign", column="From", b="Income:Interest")),
             dict(select=dict(op="contains", column="Description", b="NIPSCO"), apply=dict(op="assign", column="From", b="Expenses:Utilities")),
             dict(select=dict(op="contains", column="Description", b="AEP"), apply=dict(op="assign", column="From", b="Expenses:Utilities")),
             dict(select=dict(op="contains", column="Description", b=r"ALLY BANK $TRANSFER"), apply=dict(op="assign", column="From", b="Transfer:Ally:Savings")),
             dict(select=dict(op="contains", column="Description", b="VERIZON"), apply=dict(op="assign", column="From", b="Expenses:Utilities")),
             dict(select=[dict(op="contains", column="Description", b="VENMO PAYMENT"),
                          dict(op=operator.eq, column="Date", b=datetime(2024,1,3))], apply=dict(op="assign", column="From", b="Expenses:Gifts")),
             dict(select=dict(op="contains", column="Description", b="KEITH W DAVIS P2P"), apply=dict(op="assign", column="From", b="Transfer:Ally:Savings")),
             dict(select=dict(op="contains", column="Description", b="DOVENMUEHLE MTG MORTG PYMT"), apply=dict(op="assign", column="From", b="Expenses:Home:Mortgage"))


             
                
            ]
for d in fstrdicts:
    apply_rule(Rule(**d), fst)

fst

,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Balance,Check Number,Fees,Amount,From
0,7,2024-01-31,crossfit south b crossfit s,NaN,-80.00,NaN,6553.36,NaN,NaN,-80.00,Expenses:Groceries
1,8,2024-01-31,ND PAYROLL PAYROLL,NaN,NaN,5335.70,6633.36,NaN,NaN,5335.70,Income:Notre Dame:Regular
2,9,2024-01-30,INTEREST PAYMENT,NaN,NaN,0.09,1297.66,NaN,NaN,0.09,Income:Interest
3,10,2024-01-25,crossfit south b crossfit s,NaN,-225.00,NaN,1297.57,NaN,NaN,-225.00,Expenses:Groceries
4,11,2024-01-18,NIPSCO ACCOUNTS BILLPAY,NaN,-85.60,NaN,1522.57,NaN,NaN,-85.60,Expenses:Utilities
5,12,2024-01-17,AEP INDIANA MICH BILL PAY,NaN,-84.27,NaN,1608.17,NaN,NaN,-84.27,Expenses:Utilities
6,13,2024-01-16,crossfit south b crossfit s,NaN,-3.00,NaN,1692.44,NaN,NaN,-3.00,Expenses:Groceries
7,14,2024-01-16,KEITH W DAVIS P2P,NaN,NaN,1000.00,1695.44,NaN,NaN,1000.00,Transfer:Ally:Savings
8,7,2024-01-09,ALLY BANK $TRANSFER,NaN,-600.00,NaN,695.44,NaN,NaN,-600.00,Transfer:Ally:Savings
9,8,2024-01-09,VERIZON WIRELESS PAYMENTS,NaN,-110.57,NaN,1295.44,NaN,NaN,-110.57,Expenses:Utilities
10,9,2024-01-04,crossfit south b crossfit s,NaN,-3.00,NaN,1406.01,NaN,NaN,-3.00,Expenses:Groceries
11,10,2024-01-03,VENMO PAYMENT,NaN,-125.00,NaN,1409.01,NaN,NaN,-125.00,Expenses:Gifts
12,11,2024-01-02,crossfit south b crossfit s,NaN,-40.00,NaN,1534.01,NaN,NaN,-40.00,Expenses:Groceries
13,12,2024-01-02,DOVENMUEHLE MTG MORTG PYMT,NaN,-746.58,NaN,1574.01,NaN,NaN,-746.58,Expenses:Home:Mortgage

In [23]:
try:
    del ally
except NameError:
    pass

ally = pd.read_csv(pathlib.Path(config["paths"]["bank"]) / "Jan-2024_Ally.csv",
                    header=0, parse_dates=["Date"])

ally["From"] = ""
ally = ally.rename(columns=dict(zip(ally.columns, [c.strip() for c in ally.columns])))
ally.columns

Index(['Date', 'Time', 'Amount', 'Type', 'Description', 'From'], dtype='object')

In [24]:
allyrules = [dict(select=dict(op="contains", column="Description", b="transfer"), apply=dict(op="assign", column="From", b="Transfer:Ally:Savings")),
             dict(select=dict(op="contains", column="Description", b="Interest Paid"), apply=dict(op="assign", column="From", b="Income:Interest"))]
for d in allyrules:
    apply_rule(Rule(**d), ally)
ally

,Date,Time,Amount,Type,Description,From
0,2024-02-09,05:41:43,600.00,Deposit,Requested transfer from KEITH W DAVIS Ally Ban...,Transfer:Ally:Savings
1,2024-01-18,23:37:01,36.10,Deposit,Interest Paid,Income:Interest
2,2024-01-12,10:58:32,-1000.00,Withdrawal,Requested transfer to Keith W Davis (1ST SOURC...,Transfer:Ally:Savings
3,2024-01-11,06:12:50,600.00,Deposit,Requested transfer from KEITH W DAVIS Ally Ban...,Transfer:Ally:Savings
4,2023-12-18,00:20:16,32.85,Deposit,Interest Paid,Income:Interest

In [25]:
try:
    del ndfcu
except NameError:
    pass

ndfcu = pd.read_csv(pathlib.Path(config["paths"]["bank"]) / "Jan-2024_NDFCU_CC.csv",
                    header=0, names=["Date", "Note", "Description", "Amount", "Balance"],
                    parse_dates=["Date"])

ndfcu["From"] = ""
ndfcu["Amount"] = ndfcu["Amount"].apply(strip_currency).astype(float)
#ndfcu = ally.rename(columns=dict(zip(ally.columns, [c.strip() for c in ally.columns])))
ndfcu

,Date,Note,Description,Amount,Balance,From
0,2024-01-30,CC SALES DRAFT,AMZN Mktp US*R08 . Amzn.com/bill. WA 0...,-12.03,"$1,556.95",
1,2024-01-30,CC SALES DRAFT,AMZN Mktp US*R02 . Amzn.com/bill. WA 0...,-126.67,"$1,544.92",
2,2024-01-30,CC SALES DRAFT,Netflix.com . netflix.com . CA 0000,-15.49,"$1,418.25",
3,2024-01-30,CC SALES DRAFT,CHEWY.COM . 800-672-4399 . FL 0000,-280.61,"$1,402.76",
4,2024-01-30,CC CREDIT VOUCHER,MED*PREMISE HEAL . 615-577-6605 . TN 0...,25.50,"$1,122.15",
5,2024-01-30,CC CREDIT VOUCHER,MED*PREMISE HEAL . 615-577-6605 . TN 0...,25.50,"$1,147.65",
6,2024-01-28,CC SALES DRAFT,CHIPOTLE 4162 . SOUTH BEND . IN 0000,-15.94,"$1,173.15",
7,2024-01-25,CC SALES DRAFT,LA ESPERANZA . SOUTH BEND . IN 0000,-16.91,"$1,157.21",
8,2024-01-24,CC SALES DRAFT,MED*PREMISE HEAL . BRENTWOOD . TN 0...,-30.00,"$1,140.30",
9,2024-01-21,CC CREDIT VOUCHER,MED*PREMISE HEAL . 615-577-6605 . TN 0...,25.50,"$1,110.30",
10,2024-01-20,CC SALES DRAFT,NYTimes*NYTimes . 800-698-4637 . NY 0000,-10.00,"$1,135.80",
11,2024-01-19,CC SALES DRAFT,COMCAST CHICAGO . 800-COMCAST . IL 0000,-107.05,"$1,125.80",
12,2024-01-19,CC SALES DRAFT,CHICORY CAFE OF . 574-2042025 . IN 0...,-12.14,"$1,018.75",
13,2024-01-19,CC SALES DRAFT,WALGREENS #10184 . SOUTH BEND . IN 0000,-8.39,"$1,006.61",
14,2024-01-15,CC SALES DRAFT,Amazon Prime*RT7 . Amzn.com/bill. WA 0...,-14.99,$998.22,
15,2024-01-14,CC SALES DRAFT,MARTIN S SUPERMA . GRANGER . IN 0...,-87.67,$983.23,
16,2024-01-14,CC SALES DRAFT,FEATHERGILL AND . 574-2821090 . IN 0...,-132.46,$895.56,
17,2024-01-13,CC SALES DRAFT,MED*PREMISE HEAL . BRENTWOOD . TN 0...,-30.00,$763.10,
18,2024-01-12,CC SALES DRAFT,PHILLIPS 66 - 00 . MISHAWAKA . IN 0...,-31.94,$733.10,
19,2024-01-11,CC SALES DRAFT,LA ESPERANZA . SOUTH BEND . IN 0000,-22.18,$701.16,
20,2024-01-10,CC SALES DRAFT,JESUS LATIN GRIL . MISHAWAKA . IN 0...,-79.41,$678.98,
21,2024-01-05,CC SALES DRAFT,CHEWY.COM . 800-672-4399 . FL 0000,-262.17,$599.57,
22,2024-01-03,CC SALES DRAFT,MARTIN S SUPERMA . SOUTHBEND . IN 0...,-138.98,$337.40,
23,2024-01-02,CC SALES DRAFT,AMZN Mktp US*742 . Amzn.com/bill. WA 0...,-98.65,$198.42,
24,2023-12-31,CC SALES DRAFT,Netflix.com . netflix.com . CA 0000,-15.49,$99.77,

In [26]:
ndfcurdicts = [dict(select=dict(op="contains", column="Description", b="AMZN"),        apply=dict(op="assign", column="From", b="Expenses:Home")),
               dict(select=dict(op="contains", column="Description", b="Netflix.com"),        apply=dict(op="assign", column="From", b="Expenses:Subscriptions")),
               dict(select=dict(op="contains", column="Description", b="Amazon Prime"),        apply=dict(op="assign", column="From", b="Expenses:Subscriptions")),
               dict(select=dict(op="contains", column="Description", b="CHEWY"),        apply=dict(op="assign", column="From", b="Expenses:Pet")),
               dict(select=dict(op="contains", column="Description", b="CHIPOTLE"),        apply=dict(op="assign", column="From", b="Expenses:Restaurants")),
               dict(select=dict(op="contains", column="Description", b="LA ESPERANZA"),        apply=dict(op="assign", column="From", b="Expenses:Restaurants")),
               dict(select=dict(op="contains", column="Description", b="CHICORY"),        apply=dict(op="assign", column="From", b="Expenses:Restaurants")),
               dict(select=dict(op="contains", column="Description", b="PREMISE"),        apply=dict(op="assign", column="From", b="Expenses:Medical:Body")),
               dict(select=dict(op="contains", column="Description", b="WALGREENS"),        apply=dict(op="assign", column="From", b="Expenses:Medical:Body")),
               dict(select=dict(op="contains", column="Description", b="NYTimes"),        apply=dict(op="assign", column="From", b="Expenses:Subscriptions")),
               dict(select=dict(op="contains", column="Description", b="COMCAST"),        apply=dict(op="assign", column="From", b="Expenses:Utilities")),
               dict(select=dict(op="contains", column="Description", b="MARTIN S"),        apply=dict(op="assign", column="From", b="Expenses:Groceries")),
               dict(select=dict(op="contains", column="Description", b="FEATHERGILL"),        apply=dict(op="assign", column="From", b="Expenses:Medical:Therapy")),
               dict(select=dict(op="contains", column="Description", b="PHILLIPS 66"),        apply=dict(op="assign", column="From", b="Expenses:Auto:Fuel")),
               dict(select=dict(op="contains", column="Description", b="JESUS"),        apply=dict(op="assign", column="From", b="Expenses:Restaurants")),               
         ]

for d in ndfcurdicts:
    apply_rule(Rule(**d), ndfcu)

ndfcu

,Date,Note,Description,Amount,Balance,From
0,2024-01-30,CC SALES DRAFT,AMZN Mktp US*R08 . Amzn.com/bill. WA 0...,-12.03,"$1,556.95",Expenses:Home
1,2024-01-30,CC SALES DRAFT,AMZN Mktp US*R02 . Amzn.com/bill. WA 0...,-126.67,"$1,544.92",Expenses:Home
2,2024-01-30,CC SALES DRAFT,Netflix.com . netflix.com . CA 0000,-15.49,"$1,418.25",Expenses:Subscriptions
3,2024-01-30,CC SALES DRAFT,CHEWY.COM . 800-672-4399 . FL 0000,-280.61,"$1,402.76",Expenses:Pet
4,2024-01-30,CC CREDIT VOUCHER,MED*PREMISE HEAL . 615-577-6605 . TN 0...,25.50,"$1,122.15",Expenses:Medical:Body
5,2024-01-30,CC CREDIT VOUCHER,MED*PREMISE HEAL . 615-577-6605 . TN 0...,25.50,"$1,147.65",Expenses:Medical:Body
6,2024-01-28,CC SALES DRAFT,CHIPOTLE 4162 . SOUTH BEND . IN 0000,-15.94,"$1,173.15",Expenses:Restaurants
7,2024-01-25,CC SALES DRAFT,LA ESPERANZA . SOUTH BEND . IN 0000,-16.91,"$1,157.21",Expenses:Restaurants
8,2024-01-24,CC SALES DRAFT,MED*PREMISE HEAL . BRENTWOOD . TN 0...,-30.00,"$1,140.30",Expenses:Medical:Body
9,2024-01-21,CC CREDIT VOUCHER,MED*PREMISE HEAL . 615-577-6605 . TN 0...,25.50,"$1,110.30",Expenses:Medical:Body
10,2024-01-20,CC SALES DRAFT,NYTimes*NYTimes . 800-698-4637 . NY 0000,-10.00,"$1,135.80",Expenses:Subscriptions
11,2024-01-19,CC SALES DRAFT,COMCAST CHICAGO . 800-COMCAST . IL 0000,-107.05,"$1,125.80",Expenses:Utilities
12,2024-01-19,CC SALES DRAFT,CHICORY CAFE OF . 574-2042025 . IN 0...,-12.14,"$1,018.75",Expenses:Restaurants
13,2024-01-19,CC SALES DRAFT,WALGREENS #10184 . SOUTH BEND . IN 0000,-8.39,"$1,006.61",Expenses:Medical:Body
14,2024-01-15,CC SALES DRAFT,Amazon Prime*RT7 . Amzn.com/bill. WA 0...,-14.99,$998.22,Expenses:Subscriptions
15,2024-01-14,CC SALES DRAFT,MARTIN S SUPERMA . GRANGER . IN 0...,-87.67,$983.23,Expenses:Groceries
16,2024-01-14,CC SALES DRAFT,FEATHERGILL AND . 574-2821090 . IN 0...,-132.46,$895.56,Expenses:Medical:Therapy
17,2024-01-13,CC SALES DRAFT,MED*PREMISE HEAL . BRENTWOOD . TN 0...,-30.00,$763.10,Expenses:Medical:Body
18,2024-01-12,CC SALES DRAFT,PHILLIPS 66 - 00 . MISHAWAKA . IN 0...,-31.94,$733.10,Expenses:Auto:Fuel
19,2024-01-11,CC SALES DRAFT,LA ESPERANZA . SOUTH BEND . IN 0000,-22.18,$701.16,Expenses:Restaurants
20,2024-01-10,CC SALES DRAFT,JESUS LATIN GRIL . MISHAWAKA . IN 0...,-79.41,$678.98,Expenses:Restaurants
21,2024-01-05,CC SALES DRAFT,CHEWY.COM . 800-672-4399 . FL 0000,-262.17,$599.57,Expenses:Pet
22,2024-01-03,CC SALES DRAFT,MARTIN S SUPERMA . SOUTHBEND . IN 0...,-138.98,$337.40,Expenses:Groceries
23,2024-01-02,CC SALES DRAFT,AMZN Mktp US*742 . Amzn.com/bill. WA 0...,-98.65,$198.42,Expenses:Home
24,2023-12-31,CC SALES DRAFT,Netflix.com . netflix.com . CA 0000,-15.49,$99.77,Expenses:Subscriptions

In [27]:
bank_tables = {"Assets:1st Source:Checking": fst,
               "Liabilities:Apple:Credit Card": apl.rename(columns={"Transaction Date": "Date"}),
              "Assets:Ally:Savings": ally,
              "Liabilities:NDFCU:Credit Card": ndfcu}


trans = to_transactions(bank_tables)
trans

,Date,Description,Amount,From,To
0,2023-12-18,Interest Paid,32.85,Income:Interest,Assets:Ally:Savings
1,2023-12-31,Netflix.com . netflix.com . CA 0000,-15.49,Expenses:Subscriptions,Liabilities:NDFCU:Credit Card
2,2024-01-01,BOOKSHOP.ORG 235 WITHERS STREETUNIT 2 BROOKLYN...,-29.09,Expenses:Study,Liabilities:Apple:Credit Card
3,2024-01-01,PATREON* MEMBERSHIP 600 TOWNSEND 5TH FLOOR INT...,-27.19,Expenses:Entertainment,Liabilities:Apple:Credit Card
4,2024-01-01,AB* ABEBOOKS.CO K7JNI5410 TERRY AVENUE NORTH S...,-48.83,Expenses:Study,Liabilities:Apple:Credit Card
...,...,...,...,...,...
80,2024-01-31,MONTHLY INSTALLMENTS (21 OF 24),-54.12,Liabilities:Apple Installments,Liabilities:Apple:Credit Card
81,2024-01-31,ACH DEPOSIT INTERNET TRANSFER FROM ACCOUNT END...,2315.13,Assets:1st Source:Checking,Liabilities:Apple:Credit Card
82,2024-01-31,APPLE CASH PAYMENT,40.45,Income:Apple Cash,Liabilities:Apple:Credit Card
83,2024-01-31,crossfit south b crossfit s,-80.00,Expenses:Groceries,Assets:1st Source:Checking
84,2024-02-09,Requested transfer from KEITH W DAVIS Ally Ban...,600.00,Transfer:Ally:Savings,Assets:Ally:Savings

In [32]:
fromledgers = trans.groupby("From")
toledgers = trans.groupby("To")

In [35]:
print(fromledgers["Amount"].agg(lambda v: sum(-v)))
print(toledgers["Amount"].agg("sum"))

From
Assets:1st Source:Checking       -2315.13
Expenses:Auto:Fuel                  31.94
Expenses:Auto:Gas                    8.43
Expenses:Auto:Tolls                127.50
Expenses:Clothing                  481.50
Expenses:Entertainment              56.18
Expenses:Entertainment:Reading      12.99
Expenses:Entertainment:Self        142.54
Expenses:Gear                      101.65
Expenses:Gifts                     125.00
Expenses:Groceries                1031.34
Expenses:Home                      237.35
Expenses:Home:Cleaning             278.00
Expenses:Home:Mortgage             746.58
Expenses:Medical:Body               30.85
Expenses:Medical:Therapy           132.46
Expenses:Pet                       542.78
Expenses:Restaurants               148.08
Expenses:Study                      77.92
Expenses:Subscription              114.83
Expenses:Subscriptions              55.97
Expenses:Utilities                 562.61
Income:Apple Cash                  -40.45
Income:Interest                    -69.04
Income:Notre Dame:Regular        -5335.70
Liabilities:Apple Installments      62.41
Transfer:Ally:Savings             -600.00
Name: Amount, dtype: float64

To
Assets:1st Source:Checking       4232.77
Assets:Ally:Savings               268.95
Liabilities:Apple:Credit Card     222.36
Liabilities:NDFCU:Credit Card   -1472.67
Name: Amount, dtype: float64

In [6]:
# Add a dummmy dimension, will make transposing easier later.
def identify_possible_transfers(ds):
    ds = ds.expand_dims("dummy")

    # Transfers from one account to another would have opposite signs on the amount and date would be similar.
    amount_matches = ds.Amount.data == -1 * ds.Amount.data.T
    date_matches = np.abs(ds.Date.data - ds.Date.data.T).astype('timedelta64[D]')  < np.timedelta64(5, "D")
    matchix = np.where(np.logical_and(amount_matches, date_matches))

    # Since (i, j) = (j, i) sort all pairs so that they can be compared, drop items that matched themselves, and use a set to drop duplicates.
    pairs = zip(matchix[0], matchix[1])
    pairs = list(set([tuple(np.sort(pair)) for pair in pairs if pair[0] != pair[1]]))
    matcharray = np.array(pairs).T
    # Remove dummy dimension.
    ds = ds.squeeze()

    # Convert match indexes to LedgerIDs and add as dataarray to ds.
    pairda = xr.DataArray(data=matcharray,
                          coords={"matchside": ["left", "right"],
                                  "matchID": np.arange(matcharray.shape[1])
                                 }
                         )
    matchLIDS = ds.LedgerID.isel(LedgerID=pairda)
    ds["matches"]=matchLIDS

    # Add a dataarray to hold confirmation information
    ds["is_match"] = xr.DataArray(data=np.full((len(ds.matchID),),np.NaN),
                                         dims=["matchID"],
                                         attrs={"Note": f"{np.nan} means not reviewed"})

    return ds

In [7]:
xcl = identify_possible_transfers(xcl)
#matcharray = xcl.matches.data
#xcl = xcl.drop_vars("matches")
#xcl = xcl.drop_dims(["matchside", "matchID"])
xcl

<xarray.Dataset>
Dimensions:      (LedgerID: 1540, matchside: 2, matchID: 66)
Coordinates:
  * LedgerID     (LedgerID) object '7B2F4917' '051E10F3' ... '173FDAAB'
  * matchside    (matchside) <U5 'left' 'right'
  * matchID      (matchID) int64 0 1 2 3 4 5 6 7 8 ... 58 59 60 61 62 63 64 65
Data variables:
    Ledger       (LedgerID) object '1st Source:Checking' ... 'Fidelity:HSA'
    Date         (LedgerID) datetime64[ns] 2021-12-31 2022-01-03 ... 2023-06-02
    Description  (LedgerID) object 'Initial Balance' ... ' PARTIC CONTR CURRE...
    Amount       (LedgerID) float64 5.068e+03 -674.3 2e+03 ... 6.47 -279.2 279.2
    Account      (LedgerID) object 'Initial Balance' ... 'Paycheck:Pretax'
    matches      (matchside, matchID) object 'E5013702' ... '3EE2D058'
    is_match     (matchID) float64 nan nan nan nan nan ... nan nan nan nan nan

In [8]:
def format_match(ds, matchID):
    vars = ["Ledger", "Date", "Description", "Amount", "Account"]
    m = (ds.loc[dict(LedgerID=xcl.matches.loc["left", matchID].data)],
         ds.loc[dict(LedgerID=xcl.matches.loc["right", matchID].data)])
    s = []
    for var in vars:
        s.append(f"{var}: {m[0][var].data}\n{(len(var)+3) * ' '}{m[1][var].data}.\n")
    return s

In [9]:
left = xcl.matches.loc[dict(matchside="left")].reset_coords("matchside", drop=True)
right = xcl.matches.loc[dict(matchside="right")].reset_coords("matchside", drop=True)
no_matches = xcl.drop_vars("matches").drop_dims(["matchside","matchID"])

In [53]:
type(df["Amount"].__eq__)

method

In [18]:
apl["Merchant"].str

In [21]:
getattr(apl["Merchant"], "str").contains("Banana")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
Name: Merchant, dtype: bool

In [37]:
from operator import ne, contains
contains(apl["Merchant"].str,"Apple Services")

TypeError: argument of type 'StringMethods' is not iterable

In [39]:
help(apl["Merchant"].str)

Help on StringMethods in module pandas.core.strings.accessor object:

class StringMethods(pandas.core.base.NoNewAttributesMixin)
 |  StringMethods(data) -> 'None'
 |
 |  Vectorized string functions for Series and Index.
 |
 |  NAs stay NA unless handled otherwise by a particular method.
 |  Patterned after Python's string methods, with some inspiration from
 |  R's stringr package.
 |
 |  Examples
 |  --------
 |  >>> s = pd.Series(["A_Str_Series"])
 |  >>> s
 |  0    A_Str_Series
 |  dtype: object
 |
 |  >>> s.str.split("_")
 |  0    [A, Str, Series]
 |  dtype: object
 |
 |  >>> s.str.replace("_", "")
 |  0    AStrSeries
 |  dtype: object
 |
 |  Method resolution order:
 |      StringMethods
 |      pandas.core.base.NoNewAttributesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getitem__(self, key)
 |
 |  __init__(self, data) -> 'None'
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self) -> 'Iterator'
 |
 |  capitalize(self)
 |      Convert strings in the Series/Index to be capitalized.
 |
 |      Equivalent to :meth:`str.capitalize`.
 |
 |      Returns
 |      -------
 |      Series or Index of object
 |
 |      See Also
 |      --------
 |      Series.str.lower : Converts all characters to lowercase.
 |      Series.str.upper : Converts all characters to uppercase.
 |      Series.str.title : Converts first character of each word to uppercase and
 |          remaining to lowercase.
 |      Series.str.capitalize : Converts first character to uppercase and
 |          remaining to lowercase.
 |      Series.str.swapcase : Converts uppercase to lowercase and lowercase to
 |          uppercase.
 |      Series.str.casefold: Removes all case distinctions in the string.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
 |      >>> s
 |      0                 lower
 |      1              CAPITALS
 |      2    this is a sentence
 |      3              SwApCaSe
 |      dtype: object
 |
 |      >>> s.str.lower()
 |      0                 lower
 |      1              capitals
 |      2    this is a sentence
 |      3              swapcase
 |      dtype: object
 |
 |      >>> s.str.upper()
 |      0                 LOWER
 |      1              CAPITALS
 |      2    THIS IS A SENTENCE
 |      3              SWAPCASE
 |      dtype: object
 |
 |      >>> s.str.title()
 |      0                 Lower
 |      1              Capitals
 |      2    This Is A Sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.capitalize()
 |      0                 Lower
 |      1              Capitals
 |      2    This is a sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.swapcase()
 |      0                 LOWER
 |      1              capitals
 |      2    THIS IS A SENTENCE
 |      3              sWaPcAsE
 |      dtype: object
 |
 |  casefold(self)
 |      Convert strings in the Series/Index to be casefolded.
 |
 |      Equivalent to :meth:`str.casefold`.
 |
 |      Returns
 |      -------
 |      Series or Index of object
 |
 |      See Also
 |      --------
 |      Series.str.lower : Converts all characters to lowercase.
 |      Series.str.upper : Converts all characters to uppercase.
 |      Series.str.title : Converts first character of each word to uppercase and
 |          remaining to lowercase.
 |      Series.str.capitalize : Converts first character to uppercase and
 |          remaining to lowercase.
 |      Series.str.swapcase : Converts uppercase to lowercase and lowercase to
 |          uppercase.
 |      Series.str.casefold: Removes all case distinctions in the string.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
 |      >>> s
 |      0                 lower
 |      1              CAPITALS
 |      2    this is a sentence
 |      3              SwApCaSe
 |      dtype: object
 |
 |      >>> s.str.lower()
 |      0                 lower
 |      1              capitals
 |      2    this is a sentence
 |      3              swapcase
 |      dtype: object
 |
 |      >>> s.str.upper()
 |      0                 LOWER
 |      1              CAPITALS
 |      2    THIS IS A SENTENCE
 |      3              SWAPCASE
 |      dtype: object
 |
 |      >>> s.str.title()
 |      0                 Lower
 |      1              Capitals
 |      2    This Is A Sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.capitalize()
 |      0                 Lower
 |      1              Capitals
 |      2    This is a sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.swapcase()
 |      0                 LOWER
 |      1              capitals
 |      2    THIS IS A SENTENCE
 |      3              sWaPcAsE
 |      dtype: object
 |
 |  cat(self, others=None, sep: 'str | None' = None, na_rep=None, join: 'AlignJoin' = 'left') -> 'str | Series | Index'
 |      Concatenate strings in the Series/Index with given separator.
 |
 |      If `others` is specified, this function concatenates the Series/Index
 |      and elements of `others` element-wise.
 |      If `others` is not passed, then all values in the Series/Index are
 |      concatenated into a single string with a given `sep`.
 |
 |      Parameters
 |      ----------
 |      others : Series, Index, DataFrame, np.ndarray or list-like
 |          Series, Index, DataFrame, np.ndarray (one- or two-dimensional) and
 |          other list-likes of strings must have the same length as the
 |          calling Series/Index, with the exception of indexed objects (i.e.
 |          Series/Index/DataFrame) if `join` is not None.
 |
 |          If others is a list-like that contains a combination of Series,
 |          Index or np.ndarray (1-dim), then all elements will be unpacked and
 |          must satisfy the above criteria individually.
 |
 |          If others is None, the method returns the concatenation of all
 |          strings in the calling Series/Index.
 |      sep : str, default ''
 |          The separator between the different elements/columns. By default
 |          the empty string `''` is used.
 |      na_rep : str or None, default None
 |          Representation that is inserted for all missing values:
 |
 |          - If `na_rep` is None, and `others` is None, missing values in the
 |            Series/Index are omitted from the result.
 |          - If `na_rep` is None, and `others` is not None, a row containing a
 |            missing value in any of the columns (before concatenation) will
 |            have a missing value in the result.
 |      join : {'left', 'right', 'outer', 'inner'}, default 'left'
 |          Determines the join-style between the calling Series/Index and any
 |          Series/Index/DataFrame in `others` (objects without an index need
 |          to match the length of the calling Series/Index). To disable
 |          alignment, use `.values` on any Series/Index/DataFrame in `others`.
 |
 |      Returns
 |      -------
 |      str, Series or Index
 |          If `others` is None, `str` is returned, otherwise a `Series/Index`
 |          (same type as caller) of objects is returned.
 |
 |      See Also
 |      --------
 |      split : Split each string in the Series/Index.
 |      join : Join lists contained as elements in the Series/Index.
 |
 |      Examples
 |      --------
 |      When not passing `others`, all values are concatenated into a single
 |      string:
 |
 |      >>> s = pd.Series(['a', 'b', np.nan, 'd'])
 |      >>> s.str.cat(sep=' ')
 |      'a b d'
 |
 |      By default, NA values in the Series are ignored. Using `na_rep`, they
 |      can be given a representation:
 |
 |      >>> s.str.cat(sep=' ', na_rep='?')
 |      'a b ? d'
 |
 |      If `others` is specified, corresponding values are concatenated with
 |      the separator. Result will be a Series of strings.
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',')
 |      0    a,A
 |      1    b,B
 |      2    NaN
 |      3    d,D
 |      dtype: object
 |
 |      Missing values will remain missing in the result, but can again be
 |      represented using `na_rep`
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',', na_rep='-')
 |      0    a,A
 |      1    b,B
 |      2    -,C
 |      3    d,D
 |      dtype: object
 |
 |      If `sep` is not specified, the values are concatenated without
 |      separation.
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], na_rep='-')
 |      0    aA
 |      1    bB
 |      2    -C
 |      3    dD
 |      dtype: object
 |
 |      Series with different indexes can be aligned before concatenation. The
 |      `join`-keyword works as in other methods.
 |
 |      >>> t = pd.Series(['d', 'a', 'e', 'c'], index=[3, 0, 4, 2])
 |      >>> s.str.cat(t, join='left', na_rep='-')
 |      0    aa
 |      1    b-
 |      2    -c
 |      3    dd
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='outer', na_rep='-')
 |      0    aa
 |      1    b-
 |      2    -c
 |      3    dd
 |      4    -e
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='inner', na_rep='-')
 |      0    aa
 |      2    -c
 |      3    dd
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='right', na_rep='-')
 |      3    dd
 |      0    aa
 |      4    -e
 |      2    -c
 |      dtype: object
 |
 |      For more examples, see :ref:`here <text.concatenate>`.
 |
 |  center(self, width: 'int', fillchar: 'str' = ' ')
 |      Pad left and right side of strings in the Series/Index.
 |
 |      Equivalent to :meth:`str.center`.
 |
 |      Parameters
 |      ----------
 |      width : int
 |          Minimum width of resulting string; additional characters will be filled
 |          with ``fillchar``.
 |      fillchar : str
 |          Additional character for filling, default is whitespace.
 |
 |      Returns
 |      -------
 |      Series/Index of objects.
 |
 |      Examples
 |      --------
 |      For Series.str.center:
 |
 |      >>> ser = pd.Series(['dog', 'bird', 'mouse'])
 |      >>> ser.str.center(8, fillchar='.')
 |      0   ..dog...
 |      1   ..bird..
 |      2   .mouse..
 |      dtype: object
 |
 |      For Series.str.ljust:
 |
 |      >>> ser = pd.Series(['dog', 'bird', 'mouse'])
 |      >>> ser.str.ljust(8, fillchar='.')
 |      0   dog.....
 |      1   bird....
 |      2   mouse...
 |      dtype: object
 |
 |      For Series.str.rjust:
 |
 |      >>> ser = pd.Series(['dog', 'bird', 'mouse'])
 |      >>> ser.str.rjust(8, fillchar='.')
 |      0   .....dog
 |      1   ....bird
 |      2   ...mouse
 |      dtype: object
 |
 |  contains(self, pat, case: 'bool' = True, flags: 'int' = 0, na=None, regex: 'bool' = True)
 |      Test if pattern or regex is contained within a string of a Series or Index.
 |
 |      Return boolean Series or Index based on whether a given pattern or regex is
 |      contained within a string of a Series or Index.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Character sequence or regular expression.
 |      case : bool, default True
 |          If True, case sensitive.
 |      flags : int, default 0 (no flags)
 |          Flags to pass through to the re module, e.g. re.IGNORECASE.
 |      na : scalar, optional
 |          Fill value for missing values. The default depends on dtype of the
 |          array. For object-dtype, ``numpy.nan`` is used. For ``StringDtype``,
 |          ``pandas.NA`` is used.
 |      regex : bool, default True
 |          If True, assumes the pat is a regular expression.
 |
 |          If False, treats the pat as a literal string.
 |
 |      Returns
 |      -------
 |      Series or Index of boolean values
 |          A Series or Index of boolean values indicating whether the
 |          given pattern is contained within the string of each element
 |          of the Series or Index.
 |
 |      See Also
 |      --------
 |      match : Analogous, but stricter, relying on re.match instead of re.search.
 |      Series.str.startswith : Test if the start of each string element matches a
 |          pattern.
 |      Series.str.endswith : Same as startswith, but tests the end of string.
 |
 |      Examples
 |      --------
 |      Returning a Series of booleans using only a literal pattern.
 |
 |      >>> s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.nan])
 |      >>> s1.str.contains('og', regex=False)
 |      0    False
 |      1     True
 |      2    False
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Returning an Index of booleans using only a literal pattern.
 |
 |      >>> ind = pd.Index(['Mouse', 'dog', 'house and parrot', '23.0', np.nan])
 |      >>> ind.str.contains('23', regex=False)
 |      Index([False, False, False, True, nan], dtype='object')
 |
 |      Specifying case sensitivity using `case`.
 |
 |      >>> s1.str.contains('oG', case=True, regex=True)
 |      0    False
 |      1    False
 |      2    False
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Specifying `na` to be `False` instead of `NaN` replaces NaN values
 |      with `False`. If Series or Index does not contain NaN values
 |      the resultant dtype will be `bool`, otherwise, an `object` dtype.
 |
 |      >>> s1.str.contains('og', na=False, regex=True)
 |      0    False
 |      1     True
 |      2    False
 |      3    False
 |      4    False
 |      dtype: bool
 |
 |      Returning 'house' or 'dog' when either expression occurs in a string.
 |
 |      >>> s1.str.contains('house|dog', regex=True)
 |      0    False
 |      1     True
 |      2     True
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Ignoring case sensitivity using `flags` with regex.
 |
 |      >>> import re
 |      >>> s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)
 |      0    False
 |      1    False
 |      2     True
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Returning any digit using regular expression.
 |
 |      >>> s1.str.contains('\\d', regex=True)
 |      0    False
 |      1    False
 |      2    False
 |      3     True
 |      4      NaN
 |      dtype: object
 |
 |      Ensure `pat` is a not a literal pattern when `regex` is set to True.
 |      Note in the following example one might expect only `s2[1]` and `s2[3]` to
 |      return `True`. However, '.0' as a regex matches any character
 |      followed by a 0.
 |
 |      >>> s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])
 |      >>> s2.str.contains('.0', regex=True)
 |      0     True
 |      1     True
 |      2    False
 |      3     True
 |      4    False
 |      dtype: bool
 |
 |  count(self, pat, flags: 'int' = 0)
 |      Count occurrences of pattern in each string of the Series/Index.
 |
 |      This function is used to count the number of times a particular regex
 |      pattern is repeated in each of the string elements of the
 |      :class:`~pandas.Series`.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Valid regular expression.
 |      flags : int, default 0, meaning no flags
 |          Flags for the `re` module. For a complete list, `see here
 |          <https://docs.python.org/3/howto/regex.html#compilation-flags>`_.
 |      **kwargs
 |          For compatibility with other string methods. Not used.
 |
 |      Returns
 |      -------
 |      Series or Index
 |          Same type as the calling object containing the integer counts.
 |
 |      See Also
 |      --------
 |      re : Standard library module for regular expressions.
 |      str.count : Standard library version, without regular expression support.
 |
 |      Notes
 |      -----
 |      Some characters need to be escaped when passing in `pat`.
 |      eg. ``'$'`` has a special meaning in regex and must be escaped when
 |      finding this literal character.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat'])
 |      >>> s.str.count('a')
 |      0    0.0
 |      1    0.0
 |      2    2.0
 |      3    2.0
 |      4    NaN
 |      5    0.0
 |      6    1.0
 |      dtype: float64
 |
 |      Escape ``'$'`` to find the literal dollar sign.
 |
 |      >>> s = pd.Series(['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat'])
 |      >>> s.str.count('\\$')
 |      0    1
 |      1    0
 |      2    1
 |      3    2
 |      4    2
 |      5    0
 |      dtype: int64
 |
 |      This is also available on Index
 |
 |      >>> pd.Index(['A', 'A', 'Aaba', 'cat']).str.count('a')
 |      Index([0, 0, 2, 1], dtype='int64')
 |
 |  decode(self, encoding, errors: 'str' = 'strict')
 |      Decode character string in the Series/Index using indicated encoding.
 |
 |      Equivalent to :meth:`str.decode` in python2 and :meth:`bytes.decode` in
 |      python3.
 |
 |      Parameters
 |      ----------
 |      encoding : str
 |      errors : str, optional
 |
 |      Returns
 |      -------
 |      Series or Index
 |
 |      Examples
 |      --------
 |      For Series:
 |
 |      >>> ser = pd.Series([b'cow', b'123', b'()'])
 |      >>> ser.str.decode('ascii')
 |      0   cow
 |      1   123
 |      2   ()
 |      dtype: object
 |
 |  encode(self, encoding, errors: 'str' = 'strict')
 |      Encode character string in the Series/Index using indicated encoding.
 |
 |      Equivalent to :meth:`str.encode`.
 |
 |      Parameters
 |      ----------
 |      encoding : str
 |      errors : str, optional
 |
 |      Returns
 |      -------
 |      Series/Index of objects
 |
 |      Examples
 |      --------
 |      >>> ser = pd.Series(['cow', '123', '()'])
 |      >>> ser.str.encode(encoding='ascii')
 |      0     b'cow'
 |      1     b'123'
 |      2      b'()'
 |      dtype: object
 |
 |  endswith(self, pat: 'str | tuple[str, ...]', na: 'Scalar | None' = None) -> 'Series | Index'
 |      Test if the end of each string element matches a pattern.
 |
 |      Equivalent to :meth:`str.endswith`.
 |
 |      Parameters
 |      ----------
 |      pat : str or tuple[str, ...]
 |          Character sequence or tuple of strings. Regular expressions are not
 |          accepted.
 |      na : object, default NaN
 |          Object shown if element tested is not a string. The default depends
 |          on dtype of the array. For object-dtype, ``numpy.nan`` is used.
 |          For ``StringDtype``, ``pandas.NA`` is used.
 |
 |      Returns
 |      -------
 |      Series or Index of bool
 |          A Series of booleans indicating whether the given pattern matches
 |          the end of each string element.
 |
 |      See Also
 |      --------
 |      str.endswith : Python standard library string method.
 |      Series.str.startswith : Same as endswith, but tests the start of string.
 |      Series.str.contains : Tests if string element contains a pattern.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['bat', 'bear', 'caT', np.nan])
 |      >>> s
 |      0     bat
 |      1    bear
 |      2     caT
 |      3     NaN
 |      dtype: object
 |
 |      >>> s.str.endswith('t')
 |      0     True
 |      1    False
 |      2    False
 |      3      NaN
 |      dtype: object
 |
 |      >>> s.str.endswith(('t', 'T'))
 |      0     True
 |      1    False
 |      2     True
 |      3      NaN
 |      dtype: object
 |
 |      Specifying `na` to be `False` instead of `NaN`.
 |
 |      >>> s.str.endswith('t', na=False)
 |      0     True
 |      1    False
 |      2    False
 |      3    False
 |      dtype: bool
 |
 |  extract(self, pat: 'str', flags: 'int' = 0, expand: 'bool' = True) -> 'DataFrame | Series | Index'
 |      Extract capture groups in the regex `pat` as columns in a DataFrame.
 |
 |      For each subject string in the Series, extract groups from the
 |      first match of regular expression `pat`.
 |
 |      Parameters
 |      ----------
 |      pat : str