In [10]:
import pandas as pd
import numpy as np
import pathlib
import datetime
from rich import print
import xarray as xr

In [2]:
pth = pathlib.Path.home() / pathlib.Path("als/cvsbdata", follow_links=True)

In [3]:
pth.resolve()

PosixPath('/Users/kdavis10/als/cvsbdata')

In [4]:
pth / "Transactions.csv"

PosixPath('/Users/kdavis10/als/cvsbdata/Transactions.csv')

In [5]:
try:
    del trans
except NameError:
    pass

trans = pd.read_csv("/Users/kdavis10/iCloud_Documents/Documents/Personal/Records/csvb/data/Transactions.csv",
                    header=3, parse_dates=["Date"])

In [6]:
trans['Amount'] = trans['Amount'].astype(float)

In [7]:
trans

,TID,BankID,Date,Description,Amount,From Account,To Account
0,NaN,7B2F4917,2021-12-31,Initial Balance,5067.54,Initial Balance,1st Source:Checking
1,NaN,051E10F3,2022-01-03,DOVENMUEHLE MTG MORTG PYMT,-674.34,NDFCU:Mortgage,1st Source:Checking
2,NaN,E51A591B,2022-01-07,KEITH W DAVIS P2P,2000.00,Ally:Savings,1st Source:Checking
3,NaN,D9CBEDB9,2022-01-10,ATM W/D 1ST SOURCE,-100.00,Cash,1st Source:Checking
4,NaN,34EA584F,2022-01-11,"AUDI FINCL, INC. AUTO DEBIT",-602.30,Auto & Gas,1st Source:Checking
...,...,...,...,...,...,...,...
1535,NaN,9F84E783,2023-05-02,PARTIC CONTR CURRENT PARTICIPANT CUR YR (Cash),279.16,Paycheck:Pretax,Fidelity:HSA
1536,NaN,9B16A298,2023-05-31,REINVESTMENT FIDELITY GOVERNMENT CASH RESERVE...,-6.47,Fidelity:HSA:Core,Fidelity:HSA
1537,NaN,FB566C8E,2023-05-31,DIVIDEND RECEIVED FIDELITY GOVERNMENT CASH RE...,6.47,Fidelity:HSA:Dividend,Fidelity:HSA
1538,NaN,EE2F06CD,2023-06-02,PURCHASE INTO CORE ACCOUNT FIDELITY GOVERNMEN...,-279.16,Fidelity:HSA:Core,Fidelity:HSA
1539,NaN,173FDAAB,2023-06-02,PARTIC CONTR CURRENT PARTICIPANT CUR YR (Cash),279.16,Paycheck:Pretax,Fidelity:HSA

In [9]:
amount_groups = trans.groupby("Amount")
rptd_amount_groups = amount_groups.filter(lambda group: len(group) > 1).groupby('Amount')

In [90]:
rptd_amounts.pivot(columns='Amount')

            TID                                                        \
Amount -702.96  -674.34  -667.00  -602.30  -600.00  -279.16  -276.14
1           NaN      NaN      NaN      NaN      NaN      NaN      NaN
2           NaN      NaN      NaN      NaN      NaN      NaN      NaN
3           NaN      NaN      NaN      NaN      NaN      NaN      NaN
4           NaN      NaN      NaN      NaN      NaN      NaN      NaN
7           NaN      NaN      NaN      NaN      NaN      NaN      NaN
...         ...      ...      ...      ...      ...      ...      ...
1531        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1534        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1535        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1538        NaN      NaN      NaN      NaN      NaN      NaN      NaN
1539        NaN      NaN      NaN      NaN      NaN      NaN      NaN

                                   ... To Account                         \
Amount -225.00  -211.94  -174.78   ...    3.00     35.00         279.16
1           NaN      NaN      NaN  ...        NaN      NaN           NaN
2           NaN      NaN      NaN  ...        NaN      NaN           NaN
3           NaN      NaN      NaN  ...        NaN      NaN           NaN
4           NaN      NaN      NaN  ...        NaN      NaN           NaN
7           NaN      NaN      NaN  ...        NaN      NaN           NaN
...         ...      ...      ...  ...        ...      ...           ...
1531        NaN      NaN      NaN  ...        NaN      NaN  Fidelity:HSA
1534        NaN      NaN      NaN  ...        NaN      NaN           NaN
1535        NaN      NaN      NaN  ...        NaN      NaN  Fidelity:HSA
1538        NaN      NaN      NaN  ...        NaN      NaN           NaN
1539        NaN      NaN      NaN  ...        NaN      NaN  Fidelity:HSA

                                                                          \
Amount  500.00   600.00               2000.00  4507.79  5071.08  5160.66
1           NaN      NaN                  NaN      NaN      NaN      NaN
2           NaN      NaN  1st Source:Checking      NaN      NaN      NaN
3           NaN      NaN                  NaN      NaN      NaN      NaN
4           NaN      NaN                  NaN      NaN      NaN      NaN
7           NaN      NaN                  NaN      NaN      NaN      NaN
...         ...      ...                  ...      ...      ...      ...
1531        NaN      NaN                  NaN      NaN      NaN      NaN
1534        NaN      NaN                  NaN      NaN      NaN      NaN
1535        NaN      NaN                  NaN      NaN      NaN      NaN
1538        NaN      NaN                  NaN      NaN      NaN      NaN
1539        NaN      NaN                  NaN      NaN      NaN      NaN


Amount  5160.67
1           NaN
2           NaN
3           NaN
4           NaN
7           NaN
...         ...
1531        NaN
1534        NaN
1535        NaN
1538        NaN
1539        NaN

[778 rows x 852 columns]